<%- include("../includes/head", {pageTitle : "All Products"})%>
<link rel="stylesheet" href="/style/admin-Allproducts.css">
<script src="/scripts/delete-product.js" defer></script>

</head>


<body>

    <%- include("../includes/header")%>
    <section id="header-parts">
        <h1> ALL PRODUCTS</h1>
        <a href="/admin/products" class="btn" id="addBtn"> add a new product</a> 
        <section id="main-parts">

            <ul id="product-section">
                <% for( const products of allProducts){%>
                    <li>
                        <div class="imageANDname">
                            <img src="<%= products.imageUrl%>" class="img">  
                            <p> <%= products.name %></p>     
                        </div>
                        <div class="Button ">
                            <a class = "btn delete" data-productid="<%= products.id%>" data-csrf="<%= locals.csrfToken%>"> Delete</a>
                            <a class = "btn" href="/admin/products/Upadte/<%= products.id%>"> Upadte</a>
                        </div>
                    </li>
                <% }%>
            </ul>
        </section>
    </section>
    <%- include("../includes/footer")%>
</body>
</html>