<%- include("../includes/head", {pageTitle : "mange products"})%>
<link rel="stylesheet" href="/style/product-manage.css">

<script src="/scripts/manage-product-script.js" defer></script>
</head>

<body>

    <%- include("../includes/header")%>
    <section id="overall">

        <section id="adding-part">

            <form action="/admin/products" method="post">

                <input type="hidden" value="<%= locals.csrfToken %>" name="_csrf">
                <div id="addimg-image-part">
                    <div id="image">
                        <label for="product-image"> Product Image</label>
                        <img class="product-image" id="product-image" name="productImage" src="/productImage/main.jpg">
                    </div>
                    <div>
                        <label for="product-add-image"> adding Image</label>
                        <input type="file"id="product-add-image" name="productAddImage">
                    </div>
                </div>
    
                <div class="sub">       
                    <label for="product-name">Product Name</label>
                    <input type="text" id="product-name" name="productName">
                    <label for="product-price">Product Price</label>
                    <input type="text" id="product-price" name="productPrice">
                </div>
    
                <div class="sub">
                    <label for="product-detail">Product Detail</label>
                    <textarea id="product-detail" name="productDetail" ></textarea>
                    <label for="product-warning">Product Warning</label>
                    <textarea id="product-warining" name="productWarning" ></textarea>
                    <label for="product-registration-date">Product Registration Date</label>
                    <input type="text" id="product-registration-date" name="productRegistrationDate">
                </div>
                <button > add</button>
            </form>
        </section>

        <section id="summary-part">
            <ol>
                <% for(const products of allProduct){ %>
                    <li>
                        <div>
                            <img src="/productImage/main.jpg">
                        </div>
                        <div>
                            <p> <%= products.name %></p>
                            <p> <%= products.price %></p>
                            <form>
                                <input type="hidden" value="<%= locals.csrfToken %>" name="_csrf">
                                <button> update </button>
                            </form>
                        </div>               
                    </li>
                <%}%>

            </ol>

        </section>
    </section>

    <%- include("../includes/footer")%>
</body>
</html>