<%- include("../includes/head", {pageTitle : "mange products"})%>
<link rel="stylesheet" href="/style/header-web.css">
<link rel="stylesheet" href="/style/product-manage.css">

<script src="/scripts/imageSumnail.js" defer></script>
</head>

<body>
    <%- include("../includes/header")%>
    <section id="overall">

        <section id="adding-part">
            <form action="/admin/products/Update/<%=productData.id%>?_csrf=<%= locals.csrfToken %>" method="POST" enctype="multipart/form-data" >
                <h1> UPDATE PRODUCTS</h1>
                <div id="addimg-image-part">
                    <div id="image">
                        <label for="product-image"> Product Image</label>
                        <img class="product-image" id="product-image" name="productImage" src="<%= productData.imageUrl%>">
                    </div>
                    <div>
                        <label for="product-add-image"> adding Image</label>

                        <br>
                        <input type="file" id="product-add-image" name="productAddImage" accept="image/*" required>
                    </div>
                </div>
                
                <div class="sub" id="product-ess">       
                    <label for="product-name">Product Name</label>
                    <input type="text" id="product-name" name="productName"  value="<%=productData.name%>" required>

                    <label for="product-price">Product Price</label>
                    <input type="number" id="product-price" name="productPrice"  min="1", step="0.1"  value="<%=productData.price%>" required>
                </div>
    
                <div class="sub" id="product-sub">

                    <label for="product-summary"> Product summary</label>
                    <input type="text" id="product-summary" name="productSummary"  value="<%=productData.summary%>" required>
                    
                    <label for="product-detail">Product Detail</label>
                    <textarea id="product-detail" name="productDetail" required> <%=productData.detail%></textarea>

                    <label for="product-warning">Product Warning</label>
                    <textarea id="product-warining" name="productWarning" required> <%=productData.warning%></textarea>

                </div>
                <div> 
                    <button class="btn" type="reset"> RESET</button>
                    <button class="btn"> UPDATE </button>
                </div>
                
            </form>
        </section>

    <%- include("../includes/footer")%>
</body>
</html>