<%- include("../../includes/head", {pageTitle : "All Products"})%>
<link rel="stylesheet" href="/style/header-web.css">
<link rel="stylesheet" href="/style/Allproducts.css">
</head>

<body>

    <%- include("../../includes/header")%>
    <section id="header-parts">
        <h1> ALL PRODUCTS</h1>
        <a href="/admin/products" class="btn" id="addBtn"> add a new product</a> 
        <section id="main-parts">

            <ul id="product-section">
                <% for( const products of allProducts){%>
                    <li>
                        <div class="imageANDname">
                            <img src="<%= products.imageUrl%>" class="img">  
                            <p> <%= products.name %></p>     
                        </div>
                        <div class="Button ">
                            <a class = "btn" href="/products/Detail/<%= products.id%>"> Detail</a>
                        </div>
                    </li>
                <% }%>
            </ul>
        </section>
    </section>
    <%- include("../../includes/footer")%>
</body>
</html>