<%- include("../../includes/head", {pageTitle : "All Products"})%>
<link rel="stylesheet" href="/style/admin-Allproducts.css">
<script src="/scripts/all-product-page.js" defer></script>
</head>

<body>

    <%- include("../../includes/header")%>

    <section id="header-parts">
        <h1> ALL PRODUCTS</h1>
        <section id ="search-product-section">
            <input type="text" id="search-products" name="searchProducts">
            <button id="search-products-button" class="btn" data-csrf=<%= locals.csrfToken%> > search</button>
        </section>
        <section id="main-parts">
            <ul id="product-section">
                <% for(const products of searchedProducts){%>
                    <li class="basic">
                        <div class="imageANDname">
                            <img src="<%= products.imageUrl%>" class="img">  
                            <p> <%= products.name %></p>     
                        </div>
                        <div class="Button ">
                            <a class = "btn" href="/product/detail/<%= products.id%>"> Detail</a>
                        </div>
                    </li>
                <% }%>
            </ul>
        </section>
        <section id="page-nation-section">
            <ul id="page-nation-list">

            </ul>
        </section>
    </section>
    <%- include("../../includes/footer")%>
</body>
</html>